{% extends 'learning_logs/base.html' %}

{% block content %}

<h3 style="text-align:left; margin-bottom: 30px; font-family: cursive; font-weight: 500; font-style: italic;"> {{ topic }}</h3>

    <ul class="list-group">
        {% for entry in entries %}
        <li class="list-group-item" style="font-family: cursive; font-weight: 300;">
            <p>{{ entry.date_added|date:"M d, Y H:i" }}</p>
            <p>{{ entry.text }}</p>
        </li>
        {% empty %}
        <li class="list-group-item">There are no entries for this topic.</li>
        {% endfor %}
    </ul>
{% endblock content %}