body {
    font-family: 'Poppins', sans-serif;
    background-color: #c8d1ba;
}

h1 {
    text-align: center;
    font-size: 60px;
}

div {
    /* align-self: center;
    
    padding: 0%;
    margin-top: 150px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    border: 2px solid #000;
    padding: 20px;
    width: 260px;
    align-items: center;
    background-color: #323330;
}

#display {
    width: 250px;
    height: 40px;
    align-self: center;
    border: 1px solid #000;
    margin-bottom: 6px;
    background: transparent;
    background-color: #e2e6dc;
    font-size: larger;
}

td [type="button"] {
    border-radius: 50%;
    padding: 10px 20px;
    font-size: larger;
    vertical-align: middle;
    margin-bottom: 2px;
}

td [value="="] {
    width: auto;
}

